
.my-icon-save{
	background:url('my-icons/save.png') no-repeat center center;
}
.my-icon-run{
	background:url('my-icons/run.png') no-repeat center center;
}
.my-icon-folder{
	background:url('my-icons/folder.png') no-repeat center center;
}
.my-icon-file{
	background:url('my-icons/file.png') no-repeat center center;
}


.my-add-file{
	background:url('my-icons/add-file.png') no-repeat center center;
}
.my-remove-file{
	background:url('my-icons/remove-file.png') no-repeat center center;
}
.my-edit-file{
	background:url('my-icons/edit-file.png') no-repeat center center;
}
.my-rename-file{
	background:url('my-icons/rename-file.png') no-repeat center center;
}
.my-edit-tree{
	background:url('my-icons/dirtree.png') no-repeat center center;
}